[type=radio], label {
  cursor: pointer;
}

label {
  display: inline-block;
  padding-left: 1em;
}

#thanks {
  font-size: 24px;
  padding: 1em 0;
}

/*-- Affected elements --*/
li {
  font-size: 18pt;
  font-weight: bold;
  list-style-type: none;
  margin: .25em 0 .25em -40px;
  padding: 1em;
  /* Set up the transition */
  transition: 500ms;
}
li:nth-child(odd) {
  color: white;
}
li:first-child {
  background: red;
}
li:nth-child(even) {
  background: yellow;
}
li:last-child {
  background: blue;
}

.fade {
  opacity: 0;
}
